<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
    </div>
    <div class='col-md-9'>
    <h1 class="my-3 ml-3">チーム募集一覧ページ</h1>

    <table class="table">
      <thead>
        <tr>
            <th>ゲーム名</th>
            <th>チーム名</th>
            <th>リーダー名</th>
            <th>チーム説明</th>
        </tr>
      </thead>
    　　<% @teams.each do |team| %>
        <tbody>
          <tr>
            <td><%= team.game_name %></td>
            <td><%= link_to team.team_name, team_path(team) %></td>
            <td><%= team.user.name %></td>
            <td><%= team.team_explanation %></td>
          </tr>
        </tbody>
      　<% end %>
      </table>
    </div>
  </div>
</div>