<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= render 'teams/error', team: @team %>
        <div class="title3"><h1>新規チーム作成</h1></div>
       <%= form_with model: @team, local:true do |f| %>
        <div class="form-group">
          <%= f.label :ゲーム名 %>
          <%= f.text_field :game_name, class: "form-control name" %>
        </div>
        <div class="form-group">
          <%= f.label :チーム名 %>
          <%= f.text_field :team_name, class: "form-control name" %>
        </div>
        <div class="form-group">
          <%= f.label :メンバー募集文 %>
          <%= f.text_area :team_explanation, rows:'5',  class: "form-control introduction" %>
        </div>
        <%= hidden_field_tag :team_id, @team.id %>
          <%= f.radio_button :is_join, 'free'  %>
          <%= f.label :is_join, "自由加入制" %>
          <%= f.radio_button :is_join, 'approval' %>
          <%= f.label :is_join, "承認制" %></br>
          <%= f.submit "新規登録",class:"btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>
