<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
    </div>
      <div class='col-md-9'>
        <table class="table table">
          <h1 class="my-3 ml-3">ユーザー情報</h1>
          <thead>
            <tr>
              <td></td>
              <td><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>ユーザー名</th>
              <td><%= @user.name %></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>プロフィール</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class=table_profile><%= simple_format(@user.profile) %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to '戻る', :back, class:'back-btn' %>
      </div>
  </div>
</div>