<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>


    </div>
    マイチーム一覧ページ
    <%= link_to 'チーム作成', new_team_path %>
    <% @teams.each do |team| %>
    <tr>
        <td>ゲーム名<%= team.game_name %></td>
        <td>チーム名<%= link_to team.team_name, myteam_path(team) %></td>
        <td>リーダー名<%= team.user.name %></td>
        <td>チーム概要<%= team.overview %></td>

    </tr>
   <% end %>
   加入チーム一覧

  </div>
</div>
