<% chats.each do |chat| %>
  <tr>
    <% if !chat.member.blank? %>
      <td><%= attachment_image_tag(chat.member.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
      <td><%= chat.member.user.name %></td>
      <td><%= chat.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= chat.comment %></td>
      <% if chat.member.user == current_user %>
        <td><%= link_to "Destroy",my_team_chat_path(@team.id, chat.id), method: :delete, data: { confirm: '本当にコメントを削除しますか？' }, remote: true, class: "btn btn-sm btn-danger" %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>