<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
        <h2>User info</h2>
        <%= render 'users/info', user: current_user %>
    </div>
        <div class='col-md-9'>
             <%= render 'my/teams/myheader', team: @team %>
        <h2>チャット一覧</h2>
          <table class="table">
          <thead>
                <tr>
                  <th></th>
                  <th>メンバー名</th>
                  <th>コメント時間</th>
                  <th>コメント</th>
                </tr>
          </thead>
          <tbody id="chat-log">
            <%= render partial: 'chats', locals: {chats: @chats} %>
          </tbody>
          </table>
          <% unless @current_user_member.nil? %>
            <%= form_with model: Chat.new, url:my_team_chats_path(@team.id), remote: true do |f| %>
              <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
              <%= f.submit "送信" %>
            <% end %>
          <% end %>
        </div>
  </div>
</div>